body{
    text-align: center;
    background-color: rgb(250, 207, 152);
    color: rgb(255, 89, 0);
    vertical-align: middle;
    margin: 0;
}

.back{
    width: 100%;
    height: 360px;
    background-image: url(../img/back.png);
}

a{
    text-decoration: none;
}